@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@layer utilities {
  .font-playfair {
    font-family: 'Playfair Display', serif;
  }

  .font-cormorant {
    font-family: 'Cormorant Garamond', serif;
  }

  .font-jost {
    font-family: 'Jost', sans-serif;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
}